langchain-core
langchain
langchain-community
langgraph
langserve[all]
langchain-cli
langsmith
streamlit
langchain-openai
openai
faiss-cpu
langchainhub
watchfiles
transformers
unstructured.pytesseract
