beautifulsoup4
boto3
botocore
brotli
cachetools
celery
click
confluent-kafka
cronsim
cssselect
datadog
django-crispy-forms
django-csp
django-pg-zero-downtime-migrations
Django
djangorestframework
drf-spectacular
email-reply-parser
google-api-core
google-auth
google-cloud-bigtable
google-cloud-build
google-cloud-core
google-cloud-functions
google-cloud-kms
google-cloud-pubsub
google-cloud-spanner
google-cloud-storage
googleapis-common-protos
google-crc32c
grpc-google-iam-v1
isodate
jsonschema
lxml
maxminddb
mistune
mmh3
packaging
parsimonious
petname
phonenumberslite
Pillow
progressbar2
protobuf
proto-plus
python-rapidjson
psutil
psycopg2-binary
PyJWT
pydantic
python-dateutil
pymemcache
python-u2flib-server
fido2
python3-saml
PyYAML
rb
redis-py-cluster
redis
requests-oauthlib
requests
# [start] jsonschema format validators
rfc3339-validator
rfc3986-validator
# [end] jsonschema format validators
sentry-arroyo
sentry-kafka-schemas
sentry-ophio
sentry-protos
sentry-redis-tools
sentry-relay
sentry-sdk[http2]
slack-sdk
snuba-sdk
simplejson
sqlparse
statsd
structlog
symbolic
tiktoken
tldextract
toronado
typing-extensions
ua-parser
unidiff
urllib3[brotli]
pyuwsgi
zstandard
sentry-usage-accountant
orjson

msgpack
cryptography

# Note, grpcio requires setting GRPC_POLL_STRATEGY=epoll1
# See https://github.com/grpc/grpc/issues/23796 and
# https://github.com/grpc/grpc/blob/v1.35.x/doc/core/grpc-polling-engines.md#polling-engine-implementations-in-grpc
grpcio

# not directly used, but provides a speedup for redis
hiredis

# sentry-plugins specific dependencies
phabricator

openai

# remove once there are no unmarked transitive dependencies on setuptools
setuptools
