gitpython
jinja2
langchain
langchain-chroma
langchain-cli
langchain-cohere
langchain-community
langchain-core
langchain-openai
langfuse
langgraph
langserve[all]
nest-asyncio
pydantic
pydantic-core
ragas
rank-bm25
requests
streamlit
tavily-python>
